<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zz-ohaqyrf@sereba.pbz</string>
	<key>contactName</key>
	<string>Benny Kjær Nielsen</string>
	<key>description</key>
	<string>Integration with the Github source code management site.</string>
	<key>name</key>
	<string>GitHub</string>
	<key>uuid</key>
	<string>622E12D3-97B4-422F-AFDD-E0E518BA9C48</string>
</dict>
</plist>
